WSTests/xsd/7 - Ajout produit.php.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="connecteur" type="connecteurType"/>
  <xs:complexType name="connecteurType">
    <xs:sequence>
      <xs:element type="xs:string" name="add_product"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
