WSTests/xsd/9 - Liste des commandes.php.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="connecteur" type="connecteurType"/>
  <xs:complexType name="orders_listType">
    <xs:sequence>
      <xs:element type="xs:unsignedInt" name="id"/>
      <xs:element type="xs:byte" name="current_state"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connecteurType">
    <xs:sequence>
      <xs:element type="orders_listType" name="orders_list" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
